.article-video {
  clear: left;
}
.article-video h3 {
  font-size: 1.25em;
  font-weight: 500;

  a:link, a:visited {
    border-bottom: none;
  }
}

.video-thumbnail {
  float: left;
  margin: 0 1em 1em 0;
}
