ul.jsonSuggestResults {
	position:absolute;
	border:1px solid #CCC;
	padding:0px;
	margin:0px 2px;
	z-index:1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFFFFF;
	list-style: none;
}

.jsonSuggestResults .resultItem {
	margin:0px;
	padding:5px;
	position:relative;
	height:auto;
	cursor:pointer;
	display: block;
}

.jsonSuggestResults .resultItem.odd {
	background-color:#EEE;
}
.jsonSuggestResults .resultItem.even {
	background-color:#FFFFFF;
}

.jsonSuggestResults .resultItem.hover {
  background-color: rgb(188, 201, 224);
}

.jsonSuggestResults .resultItem img {
	float:left;
	margin-right:10px;
}

.jsonSuggestResults .resultItem p {
	margin:0px;
	padding:0px;
}

.jsonSuggestResults .resultItem strong {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  font-weight: 200;
  color: #111;
  display: block;
}
.jsonSuggestResults .resultItem strong em {
  font-weight: 500;
  font-style: normal;
  text-decoration:underline;
}

.jsonSuggestResults .resultItem p.extra {
  font-size: small !important;
  font-family: Constantia, Georgia, "Bitstream Vera Serif", "Liberation Serif", serif;
}