@font-face {
  font-family: "Titillium";
  src: url(/fonts/TitilliumMaps26L004.otf) format("opentype");
}

body {
  font-family: Constantia, Georgia, "Bitstream Vera Serif", "Liberation Serif", serif;
  font-size: 62.5%;
  background: #fff;
  color: #223;
  padding: 2em;
}

p,li {
  font-size: 1.4em;
  line-height: 1.2;
}

p {
  margin: 1em 0;
}

ul, ol {
  margin: 1em 0 1em 1em;
}
ul {
  list-style: disc;
}
li {
  margin-left: 1em;
}

/* 6,7,8,9,10,11,12,14,16,18,21,24,36,48,60,72 */
h1 {
  font-size: 3.6em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2.1em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.6em;
}
h6 {
  font-size: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Titillium, Calibri, Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  margin: 0.5em 0 0.25em 0;
  color: #111;
}

a {
  text-decoration: underline;
}

a:link,
a:visited {
  color: #36454F;
}

a:hover {
/*  color: #f90;*/
}

sup {
  vertical-align: super;
  font-size: 0.8em;
}

pre,code {
  font-family: Consolas, "Andale Mono", "Liberation Mono", Menlo, Monaco, "Bitstream Vera Sans Mono", fixed;
}
pre {
  font-size: 1.2em;
}

#header {
  font-family: Titillium, Calibri, Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  background-color: rgb(112, 128, 144); /* Slate gray */
  padding: 0.5em 1em;
  text-shadow: rgb(187, 187, 187) 1px 1px 1px;
  font-size: 1.8em;
  font-weight: bold;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
#header a {
  text-decoration: none;
  color: black;
}
#header a:hover {
  color: #36454F;
/*  text-shadow: rgb(0, 187, 0) 1px 1px 1px;*/
}

ul#menu {
  list-style: none;
  background-color: rgb(112, 128, 144); /* Slate gray */
  float: right;
  margin: 0;
}
ul#menu li {
  display: inline;
  font-size: inherit;
/*  text-shadow: rgb(187, 187, 187) 0px 1px 1px;*/
/*  width: 5em;*/
}

#main {
  margin: 0 1em;
  clear: both;
}

#footer {
  color: #666;
  border-top: 1px solid #666;
  margin: 1em;
}
#footer .copyright {
  font-family: Titillium, Calibri, Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  font-size: 1.4em;
  padding-top: 1em;
  display: block;
}