@font-face {
  font-family: "Titillium";
  src: url(/fonts/TitilliumMaps26L004.otf) format("opentype");
}

body {
  font-family: Constantia, Georgia, "Bitstream Vera Serif", "Liberation Serif", serif;
  font-size: 62.5%;
  background: #fff;
  color: #223;
/*  padding: 2em;*/
}

p,li {
  font-size: 16px;
  line-height: 1.2;
}

p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin: 1em 0 1em 1em;
}
ul {
  list-style: disc;
}
li {
  margin-left: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  margin: 0.5em 0 0.25em 0;
  color: #111;
  font-weight: 200;
}

/* 6,7,8,9,10,11,12,14,16,18,21,24,36,48,60,72 */
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
/*  border-bottom: 1px solid gray;*/
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}


a {
  text-decoration: underline;
}

a:link,
a:visited {
  color: #36454F;
}

a:hover {
/*  color: #f90;*/
}

h1 a {
  text-decoration: none;
}

h1 a:link,
h1 a:visited {
  color: #111;
}

sup {
  vertical-align: super;
  font-size: 0.8em;
}

pre,code {
  font-family: Consolas, "Andale Mono", "Liberation Mono", Menlo, Monaco, "Bitstream Vera Sans Mono", fixed;
}
pre {
  font-size: 1.2em;
}

#header {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  font-size: 1.8em;
  color: white;
  padding: 0.5em;
  background: #1C1C1C; /* url(/images/texture.png) repeat-y top left; */
}
#header a {
  text-decoration: none;
  color: white;
}
#header a:hover {
}

ul#menu {
/*  list-style: none;*/
  float: right;
/*  margin: 0;*/
  padding-right: 0.25em;
}
ul#menu li {
/*  display: inline;*/
  font-size: inherit;
}

#main {
  padding: 0 2em;
  clear: both;
}

#footer {
  color: gray;
  border-top: 1px solid gray;
  margin: 1em;
  clear: both;
}
#footer .copyright {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  font-size: 1.4em;
  padding-top: 1em;
  display: block;
  font-weight: 200;
}

.pagination {
  display: none;
  text-align: center;
}

/* Home page post listing columns */
.column {
  float: left;
  width: 50%;
  margin: 0;
  min-width: 480px;
}
#personal div {
  padding-right: 2em;
}
.column div {
  padding: 0 0 0 2em;
}
.column strong {
  font-family: "Helvetica Neue", Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
  margin: 0;
  font-weight: 200;
  display: block;
  font-size: 18px;
}
#twitter {
  display: none;
}
.column p {
/*  margin-bottom: 1em;*/
}
.column ul {
  list-style: none;
  margin: 0;
}
.column ul li {
  margin: 0;
  padding-top: 1em;
  height: 80px;
}
.column ul li:first-child {
  border-top: none;
  padding-top: 1em;
}
.column abbr {
  display: block;
  font-size: 0.8em;
  color: #aaa;
}

/* Flickr thumbnails */
#flickr {
  clear: both;
}
#flickr li {
  display: block;
  float: left;
  height: 75px;
  width: 75px;
  overflow: hidden;
  margin: 20px 0 0 20px;
}
#flickr li img {
/*  opacity: 0.7;*/
}
#flickr li img:hover {
  opacity: 1;
}

#flickr li:first-child {
  background: url(/images/photos/4302496460_a1ec313d06.jpg) no-repeat top left;
}
#flickr li:first-child:hover {
  background-position: 0 -75px;
}
#flickr li img:first-child {
  opacity: 0;
}

/* Inline flat list style */
ul.inline {
  list-style: none;
  margin: 0;
}
ul.inline li {
  display: inline;
}
