#flickr li.t1 a {
  background-position: -75px -75px;
}
#flickr li.t1 a:hover {
  background-position: -75px 0;
}
#flickr li.t2 a {
  background-position: -150px -75px;
}
#flickr li.t2 a:hover {
  background-position: -150px 0;
}
#flickr li.t3 a {
  background-position: -225px -75px;
}
#flickr li.t3 a:hover {
  background-position: -225px 0;
}
#flickr li.t4 a {
  background-position: -300px -75px;
}
#flickr li.t4 a:hover {
  background-position: -300px 0;
}
#flickr li.t5 a {
  background-position: -375px -75px;
}
#flickr li.t5 a:hover {
  background-position: -375px 0;
}
#flickr li.t6 a {
  background-position: -450px -75px;
}
#flickr li.t6 a:hover {
  background-position: -450px 0;
}
#flickr li.t7 a {
  background-position: -525px -75px;
}
#flickr li.t7 a:hover {
  background-position: -525px 0;
}
#flickr li.t8 a {
  background-position: -600px -75px;
}
#flickr li.t8 a:hover {
  background-position: -600px 0;
}
#flickr li.t9 a {
  background-position: -675px -75px;
}
#flickr li.t9 a:hover {
  background-position: -675px 0;
}
#flickr li.t10 a {
  background-position: -750px -75px;
}
#flickr li.t10 a:hover {
  background-position: -750px 0;
}
#flickr li.t11 a {
  background-position: -825px -75px;
}
#flickr li.t11 a:hover {
  background-position: -825px 0;
}
#flickr li.t12 a {
  background-position: -900px -75px;
}
#flickr li.t12 a:hover {
  background-position: -900px 0;
}
#flickr li.t13 a {
  background-position: -975px -75px;
}
#flickr li.t13 a:hover {
  background-position: -975px 0;
}
#flickr li.t14 a {
  background-position: -1050px -75px;
}
#flickr li.t14 a:hover {
  background-position: -1050px 0;
}
#flickr li.t15 a {
  background-position: -1125px -75px;
}
#flickr li.t15 a:hover {
  background-position: -1125px 0;
}
#flickr li.t16 a {
  background-position: -1200px -75px;
}
#flickr li.t16 a:hover {
  background-position: -1200px 0;
}
#flickr li.t17 a {
  background-position: -1275px -75px;
}
#flickr li.t17 a:hover {
  background-position: -1275px 0;
}
#flickr li.t18 a {
  background-position: -1350px -75px;
}
#flickr li.t18 a:hover {
  background-position: -1350px 0;
}
#flickr li.t19 a {
  background-position: -1425px -75px;
}
#flickr li.t19 a:hover {
  background-position: -1425px 0;
}
#flickr li.t20 a {
  background-position: -1500px -75px;
}
#flickr li.t20 a:hover {
  background-position: -1500px 0;
}
