<!DOCTYPE html>
<html>
<head>
  <%= render '_head' %>
  <script src="/js/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/dygraph-combined.js" type="text/javascript" charset="utf-8"></script>
  <!--[if IE lt 9]><script language="javascript" type="text/javascript" src="/js/excanvas.min.js"></script><![endif]-->
  <script src="/js/handlebars.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/weather.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="weather">
  <%= render '_header' %>
  <div class=" archive-banner">This is an old version of my website with posts from 2003–2019. For newer posts <a href="/v2/">visit the new version</a>.</div>
  <div id="content">
    <h1><a href="<%= @item.reps[:default].path %>"><%=h @item[:title] %></a></h1>
    <%= yield %>
  </div>
  <%= render '_footer' %>
</body>
</html>
