#!/usr/bin/env ruby

compile '/' do
  layout 'home'
end

compile '*/json/' do
  filter :erb
end

compile %r{/(technical|personal|)articles/(page/|)} do
  filter :erb
  layout 'articles'
end

compile %r(/\d{4}/*) do
  filter :rdiscount
  layout 'article'
  layout 'default'
end

compile '*' do
  filter :rdiscount
  layout 'default'
end

route '*/json/' do
  item.identifier + 'articles.json'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
