$ans-serif:  'CamingoWeb', "Helvetica Neue", Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif

body
  font-family: 'CamingoWeb', Constantia, Georgia, "Bitstream Vera Serif", "Liberation Serif", serif
  font-size: 16px
  font-weight: 300
  background: #fff
  color: #223


// HTML5 expectations - should go in reset perhaps
header, footer, nav, article, figure, figcaption
  display: block


p, li, blockquote
  line-height: 1.2


p, pre
  margin: 0 0 1em 0


ul, ol
  margin: 1em 0 1em 1em


ul
  list-style: disc


ol
  list-style: decimal


li
  margin-left: 1em


dl
  dd
    margin-left: 2em


h1, h2, h3, h4, h5, h6
  font-family: $ans-serif
  margin: 0.6em 0 0.5em 0
  color: #111
  font-weight: 500


h1
  font-size: 36px


h2
  font-size: 24px


h3
  font-size: 21px


h4
  font-size: 18px


h5
  font-size: 16px


h6
  font-size: 14px


a
  text-decoration: underline

  &:link, &:visited
    color: #36454F

h1 a
  text-decoration: none

  &:link, &:visited
    color: #111


body.home h1 > a
  -webkit-transition: border-bottom-color 500ms ease-out
  border-bottom: 2px solid rgba(17, 17, 17, 0.0)

  &:hover
    border-bottom-color: rgba(17, 17, 17, 1.0)


sup
  vertical-align: super
  font-size: 0.8em


pre, code, tt
  font-family: 'SourceCodePro', Consolas, "Andale Mono", "Liberation Mono", Menlo, Monaco, "Bitstream Vera Sans Mono", monospace

code, tt
  font-size: smaller

pre
  overflow-x: auto
  padding-bottom: 0.25em


blockquote
  border-left: 2px solid #999
  padding-left: 1em
  margin: 0 0 1em 0

figure
  margin: 1em auto
  text-align: center

  &.screenshot
    img
      max-width: 50%

figcaption
  font-size: smaller
  text-align: center
  font-style: italic

  .label
    font-weight: 500

img
  max-width: 100%

img.cover-photo
  display: block
  margin: 0 auto

body > header
  font-family: $ans-serif
  font-size: 18px
  font-weight: 400
  color: white
  padding: 0.5em
  background: #1C1C1C

  a
    -webkit-transition: border-bottom-color 500ms ease-out
    border-bottom: 2px solid rgba(255, 255, 255, 0.0)
    &:link, &:visited
      text-decoration: none
      color: white

    &:hover
      border-bottom-color: rgba(255, 255, 255, 1.0)

  span
    display: none


#menu
  float: right
  padding-right: 0.25em

  li
    font-size: inherit


#content
  margin: 0 auto
  clear: both
  max-width: 728px
  font-size: 18px
  font-weight: 300



footer
  color: #999
  border-top: 1px solid #999
  margin: 20px
  clear: both

  .copyright
    font-family: $ans-serif
    font-size: 14px
    padding-top: 1em
    display: block
    font-weight: 200


.column
  float: left
  width: 50%
  margin: 0
  min-width: 480px


#personal div
  padding-right: 2em


.column div
  padding: 0 0 0 2em


ul.articles
  list-style: none
  margin: 0
  clear: left

  li
    margin: 0
    padding-top: 1em
    height: 70px


body.articles ul.articles li
  height: auto
  padding-top: 0


ul.articles
  li:first-child
    border-top: none
    padding-top: 1em

  abbr
    display: block
    font-size: 12px
    color: #999

  strong
    font-family: $ans-serif
    margin: 0
    font-weight: 400
    display: block
    font-size: 18px

a
  &.more
    display: block
    margin: 1em 0 0 0

  &.active
    font-weight: bold

  &.affiliate
    background: url(/images/dollar.gif) no-repeat top right
    padding-right: 4px


.inline
  list-style: none
  margin: 0

  li
    display: inline

    &:first-child
      margin-left: 0


#flickr
  clear: both

  header
    margin-left: 2em

  h1
    margin: 0
    padding: 0.6em 0 0 0

  ul
    display: block
    height: 75px
    overflow: hidden
    margin-top: 1em

  li
    float: left
    overflow: hidden
    margin: 0 0 0 1em
    display: block
    position: relative
    height: 75px
    width: 75px
    border: 1px solid #ccc
    background: url(/images/photos.jpg?20120121) no-repeat 0 -75px

    &:first-child
      margin-left: 2em

    img
      -webkit-transition: opacity 500ms ease-out
      position: absolute
      max-width: none

      &:hover
        opacity: 0

  a.more
    float: right
    margin: 1em 2em 1em 0


body.articles #content nav
  padding-bottom: 1em


#search
  margin: 0
  padding: 0
  display: none
  float: left
  margin-right: 20px

  fieldset
    margin: 0
    padding: 0
    border: 0

  label
    font-weight: normal
    padding-right: 10px

  input
    width: 180px


#respond
  margin-top: 10px
  padding: 10px
  background-color: #ddd
  clear: both

  h2
    padding-left: 42px
    line-height: 32px
    background: url(/images/comment32.png) no-repeat top left
    margin-top: 0

  li.short
    float: right

#content
  .published
    font-family: $ans-serif
    color: #999
    padding-bottom: 10px
    font-size: 14px

  .alignleft
    float: left
    margin: 5px 10px 5px 0


img.alignleft
  float: left
  margin: 5px 10px 5px 0


img.feed-icon
  -webkit-transition: opacity 500ms ease-out
  opacity: 0.5

  &:hover
    opacity: 1.0

#content .alignright, img.alignright
  float: right
  margin: 5px 0 5px 10px


#content .aligncenter, div.aligncenter, img.aligncenter
  text-align: center
  display: block
  margin: 10px auto

#content
  .clear
    clear: both

  hr
    border: 0
    border-top-width: 1px
    border-style: solid
    border-top-color: #999
    width: 10em
    margin: 0

  .seperator
    text-align: center
    color: #EEE
    margin-bottom: 1em
    font-size: smaller

    hr
      width: 33%
      height: 1px
      display: inline-block
      border: none
      background-color: #eeeeee
      margin: 5px 0.5em

      &.right
        background-image: -webkit-gradient(linear, left center, right center, from(rgb(238, 238, 238)), to(rgb(255, 255, 255)))
        background-image: -webkit-linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: -moz-linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: -o-linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: -ms-linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: linear-gradient(left, rgb(238, 238, 238), rgb(255, 255, 255))
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#eeeeee', EndColorStr='#ffffff')

      &.left
        background-image: -webkit-gradient(linear, right center, left center, from(rgb(238, 238, 238)), to(rgb(255, 255, 255)))
        background-image: -webkit-linear-gradient(right, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: -moz-linear-gradient(right, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: -o-linear-gradient(right, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: -ms-linear-gradient(right, rgb(238, 238, 238), rgb(255, 255, 255))
        background-image: linear-gradient(right, rgb(238, 238, 238), rgb(255, 255, 255))
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ffffff', EndColorStr='#eeeeee')

table
  &.left_headers, &.top_headers
    border: 1px solid #D8D8D8
    border-collapse: collapse
    margin: 1em 0

  &.left_headers
    td, th
      border: 1px solid #D8D8D8
      padding: 0.3em 0.7em 0.3em 0.7em

  &.top_headers
    td, th
      border: 1px solid #D8D8D8
      padding: 0.3em 0.7em 0.3em 0.7em

  &.left_headers th
    text-align: right

  &.gallery
    border-collapse: collapse
    width: 100%

    td
      padding: 10px 0
      text-align: center
      vertical-align: middle

    img a
      border: none

.vcard .photo
  margin: 0 1em 1em 0




// Weather
body.weather

  #content
    max-width: 100%
    margin: 0 20px

  #current > .temperature

    .temperature
      font-family: $ans-serif
      font-weight: 200

    .current
      font-size: 36px

    time
      font-size: smaller

  figure.forecast
    margin: 0 1em 1em 0
    width: 48px
    float: left

  .chart
    clear: both
    width: 100%
    height: 320px

  section, section > .temperature
    clear: both
    margin-top: 2em

  .extreme
    float: left
    margin: 0 2em 2em 0

    time.day
      display: block
      text-align: center

    div, time
      margin: 0.5em 0
      font-family: $ans-serif

  small
    display: block
    font-size: smaller
    margin-top: 1em
    color: #999

@media screen and (max-width: 960px)

  .column
    float: none
    width: auto
    min-width: 0
    max-width: 728px


@media screen and (max-width: 768px)
  body
    font-size: 18px

  #technical div, #personal div
    padding: 0 1em

  #content
    margin: 0 20px


@media screen and (max-width: 680px)

  nav.search
    li
      display: list-item
      margin: 1em 0 0 0
      font-size: large

  #search
    float: none


@media screen and (max-width: 515px)

  body > header span
    float: right
    display: inline
    cursor: pointer

  #menu
    display: none
    float: none
    padding: 0.5em 0 0 0
    line-height: 2

    li
      margin: 0 1em 0 0

  #content
    min-width: 0
    margin: 0 10px

    h1
      font-size: 30px

  body.weather #content
    margin: 0 10px

  ul.articles li
    margin: 0
    padding-top: 0
    height: auto

  #flickr

    header
      margin-left: 1em

    ul
      height: auto

    li, li:first-child
      margin: 0 0 1em 1em

  #respond
    li.short
      margin: 0.5em 0 0 0
      float: none
      display: block

  footer
    margin: 20px 10px

@media screen and (max-width: 320px)
  figure.screenshot
    img
      max-width: 100%

