{% extends "layout.html" %}
{% block title %}{{ config.title }}{% endblock %}

{% block body %}
<main class="home">
  <h1>{{ section.title }}</h1>

  <div class="intro">
    <div class="tagline">
      <div class="emoji-pair">👨‍💻 Software Developer</div>
      <div class="emoji-pair">🌏 Sunshine Coast, Australia</div>
    </div>

    {{ section.content | safe }}
  </div>

  <div class="flex">
    <section class="posts-section">
      <h2>
        Recent Posts&#8194;<a href="https://twitter.com/wezm?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @wezm</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </h2>

      {% set section = get_section(path="posts/_index.md") %}
      {% set subsections = section.subsections | reverse %}
      {% for sub in subsections %}
        {% set section = get_section(path=sub) %}
        {% for page in section.pages %}
          {% include "article.html" %}
        {% endfor %}
      {% endfor %}
    </section>

    <section class="projects-section">
      <h2>Projects</h2>

      <ul class="projects">
        <li>
          <a href="https://github.com/yeslogic/allsorts">
            <img src="images/allsorts.svg">Allsorts
          </a>
          <p>Font parser, shaping engine, and subsetter implemented in Rust.</p>
        </li>
        <li>
          <a href="https://bitcannon.net/">
            <svg id="bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="#85144b">
              <path d="M6 2 L26 2 L26 30 L16 24 L6 30 Z"></path>
            </svg>Bit Cannon
          </a>
          <p>A blog about operating system exploration.</p>
        </li>
        <li>
          <a href="https://github.com/yeslogic/allsorts" class="no-border">
            <span class="emoji-img">🍃</span></a><a href="https://github.com/wezm/leaf">Leaf
          </a>
          <p>Lightweight, self-hosted task tracking.</p>
        </li>
        <li>
          <a href="https://linkedlist.org/">
            <svg id="i-link" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M18 8 C18 8 24 2 27 5 30 8 29 12 24 16 19 20 16 21 14 17 M14 24 C14 24 8 30 5 27 2 24 3 20 8 16 13 12 16 11 18 15"></path>
            </svg>Linked List
          </a>
          <p>A personal knowledge base.</p>
        </li>
        <li>
          <a href="https://readrust.net/">
            <img src="images/read-rust.svg">Read Rust
          </a>
          <p>Curated posts from the Rust community (now in maintenance mode).</p>
        </li>
      </ul>
    </section>
  </div>

</main>
{% endblock %}
