{% extends "layout.html" %}
{% block title %}{{ config.title }}{% endblock %}

{% block body %}
<main class="home">
  {% include "nav.html" %}

  <h1>{{ section.title }}</h1>

  <div class="intro">
    <div class="tagline">
      <div class="emoji-pair">👨‍💻 Software Developer</div>
      <div class="emoji-pair">🌏 Sunshine Coast, Australia</div>
    </div>

    {{ section.content | safe }}
  </div>

  <div class="flex">
    <section class="posts-section">
      <h2>
        Recent Posts
      </h2>

      {% set section = get_section(path="posts/_index.md") %}
      {% for page in section.pages | sort(attribute="date") | reverse | slice(end=10) %}
        {% include "article.html" %}
      {% endfor %}

      <a href="{{ config.base_url }}/posts/">View more posts →</a>
    </section>

    <section class="projects-section">
      <h2>Projects</h2>

      <p>A selection of projects I've built or contributed to:</p>

      <ul class="projects">
        <li>
          <a href="https://github.com/wezm/feedlynx">
            <img src="{{ config.base_url }}/images/feedlynx.svg" width="32" alt="">Feedlynx
          </a>
          <p>Collect links to read or watch later in an RSS feed.</p>
        </li>
        <li>
          <a href="https://github.com/wezm/rsspls">
            <span class="emoji-img">📰</span>RSS Please
          </a>
          <p>Generate RSS feeds from web pages.</p>
        </li>
        <li>
          <a href="https://linkedlist.org/">
            <img src="https://linkedlist.org/static/permalink-dot.svg" alt="" style="margin-right: 0.4em; opacity: 0.8">Linked List
          </a>
          <p>A link blog covering tech outside big tech.</p>
        </li>
        <li>
          <a href="https://github.com/yeslogic/allsorts">
            <img src="images/allsorts.svg" width="32" alt="" style="margin-right: 0.5em">Allsorts
          </a>
          <p>Font parser, shaping engine, and subsetter implemented in Rust.</p>
        </li>
        <li>
          <a href="https://github.com/wezm/git-grab">
            <span class="emoji-img">⤵️</span>Git Grab
          </a>
          <p>Clone a git repository into a standard location organised by domain and path.</p>
        </li>
        <li>
          <a href="https://bitcannon.net/">
            <svg id="bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="#85144b">
              <path d="M6 2 L26 2 L26 30 L16 24 L6 30 Z"></path>
            </svg>Bit Cannon
          </a>
          <p>A blog about operating system exploration.</p>
        </li>
      </ul>
      <a href="https://github.com/wezm/wezm#project-showcase">View more projects →</a>

      <div class="newsletter-section">
        <h2>Newsletter</h2>
        <p>Recieve new posts straight to your inbox:</p>
        <form
          action="https://buttondown.com/api/emails/embed-subscribe/wezm"
          method="post"
          class="embeddable-buttondown-form"
          >
          <label for="bd-email">Email</label>

          <div class="bd-field">
            <input type="email" name="email" id="bd-email" placeholder="you@example.com" />
            <input type="submit" value="Subscribe" /><br>
          </div>

          {# <small><a href="https://buttondown.com/refer/wezm" target="_blank">Powered by Buttondown.</a></small> #}
        </form>
      </div>
    </section>
  </div>

</main>
{% endblock %}
