{% extends "layout.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock %}

{% block body %}
<main class="{{ section.extra.main_class | default(value="") }}">
  {% include "nav.html" %}
  <header>
    <h1 class="logo">
      <a href="{{ config.base_url }}/" class="no-border hover-underline">👨‍💻 {{ config.title }}</a>
    </h1>
  </header>

  <h2>{{ section.title }}</h2>

  {{ section.content | safe }}

  {% set prev = "" %}
  {% for page in paginator.pages %}
    {% set year = page.date | date(format="%Y") %}
    {% if year != prev %}
      {% if prev != "" %}
      </ul>
      {% endif %}
      {% set_global prev = year %}
      {% if year != section.title %}
      <h3>{{ year }}</h3>
      {% endif %}
      <ul class="list-style-none">
    {% endif %}

    {# include "article.html" #}
    <li>
        <time class="time-fixed" datetime="{{ page.date }}">{{ page.date | date(format="%d %b %Y") }}</time>
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</main>
{% endblock %}
