<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0" />
<title><%=h [@item[:title], 'WezM.net by Wesley Moore'].compact.join(' - ') %></title>
<% if @item[:extra] %><meta name="description" content="<%=h @item[:extra] %>"><% end %>
<% if @item[:keywords] %><meta name="keywords" content="<%=h @item[:keywords].join(',') %>"><% end %>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/css/prettyPhoto.css?v=3.0.1" type="text/css" media="screen" charset="utf-8" />
<link rel="alternate" href="/feed/" type="application/atom+xml" title="WezM.net - All Articles" />
<link rel="alternate" href="/technical/feed/" type="application/atom+xml" title="WezM.net - Technical Articles" />
<link rel="alternate" href="/personal/feed/" type="application/atom+xml" title="WezM.net - Personal Articles" />
<script src="/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.timers-1.1.2.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.prettyPhoto.js?v=3.0.1" type="text/javascript" charset="utf-8"></script>
<script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
