<meta charset="utf-8" />
<meta name="viewport" content="width=devicewidth" />
<title><%= [@item[:title], 'WezM.net'].compact.join(' • ') %></title>
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="only screen and (max-device-width: 480px)" />  
<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="WezM.net - All Articles" />
<link rel="alternate" href="/technical/feed.xml" type="application/atom+xml" title="WezM.net - Technical Articles" />
<link rel="alternate" href="/personal/feed.xml" type="application/atom+xml" title="WezM.net - Personal Articles" />
