<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title><%=h [@item[:title], 'WezM.net'].compact.join(' - ') %></title>
<% if @item[:extra] %><meta name="description" content="<%=h @item[:extra] %>"><% end %>
<% if @item[:keywords] %><meta name="keywords" content="<%=h @item[:keywords].join(',') %>"><% end %>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen,projection" />
<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="only screen and (max-device-width: 480px)" />
<link rel="alternate" href="http://feeds.feedburner.com/wezm" type="application/atom+xml" title="WezM.net - All Articles" />
<link rel="alternate" href="http://feeds.feedburner.com/wezm-technical" type="application/atom+xml" title="WezM.net - Technical Articles" />
<link rel="alternate" href="http://feeds.feedburner.com/wezm-personal" type="application/atom+xml" title="WezM.net - Personal Articles" />
<script src="/js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/jquery.timers-1.1.2.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-199609-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
