<!DOCTYPE html>
<html>
<head>
  <%= render '_head' %>
</head>
<body class="articles">
  <%= render '_header' %>
  <div id="content">
    <h1>Archives</h1>

    <%
      menu = [
        ['All', sorted_articles.size],
        ['Technical', technical_articles.size],
        ['Personal', personal_articles.size],
      ]
    %>
    <nav class="inline menu">
      <% menu.each do |menu_item|
        label, count = menu_item
        path = (label != "All" ? '/' + label.downcase : '') + "/articles/"
        feed = 'http://feeds.feedburner.com/wezm'
        feed += "-#{label.downcase}" if label != "All"
        active = (@item.identifier.sub(%r{page/$}, '') == path)
      %>
      <li>
        <a href="<%= feed %>"><img class="feed-icon" src="/images/black-feed-icon.png" width="12" height="12" alt="Black Feed Icon" /></a>
        <a href="<%= path %>"<%= %Q{class="active"} if active %>><%= label %></a> (<%= count %>)
      </li>
      <% end %>
      <li id="search">
        <fieldset>
          <label for="query">Search</label>
          <input id="query" type="search" incremental="" results="0" placeholder="Search Articles">
        </fieldset>
      </li>
    </nav>

    <ul id="articles" class="articles">
      <%= yield %>
    </ul>

  </div>
  <%= render '_footer' %>
</body>
</html>
