<% post_date = WezM::Helpers.parse_post_date(@item) %>
<article>
  <header>
    <h1><a href="<%= @item.reps[:default].path %>"><%=h @item[:title] %></a></h1>
    <div class="published">
      Published on
      <time datetime="<%= post_date.iso8601 %>"><%= post_date.strftime('%a, %d %B %Y') %></time>
    </div>
  </header>
  <%= yield %>
  <div id="respond">
    <h2>
      <img src="/images/comment.svg" width="32" height="32" alt="Comment icon" class="comment align-top" />
      Stay in touch!
    </h2>
    <p>Follow me on <a href="https://twitter.com/wezm">Twitter</a> or <a href="https://mastodon.social/@wezm">Mastodon</a>, <a href="/feed/">subscribe to the feed</a>, or <a href="mailto:wes@wezm.net">send me an email</a>.
    </p>
  </div>
</article>
