<% post_date = WezM::Helpers.parse_post_date(@item) %>
<div class="published">
  Published on
  <abbr class="calender date" title="<%= post_date.iso8601 %>">
    <span class="weekday"><%= post_date.strftime('%a') %></span>,
    <span class="day"><%= post_date.day %></span>
    <span class="month"><%= post_date.strftime('%B') %></span>
    <span class="year"><%= post_date.year %></span>
  </abbr>
</div>
<%= yield %>
<% short = short_url("http://www.wezm.net#{@item.identifier}") %>
<div id="respond">
  <h2>Got Something to Add?</h2>
  <p>Contact me by email or Twitter if you have a comment, correction or just want to get in touch.</p>
  <ul class="inline">
    <li><a href="#">Email</a></li>
    <li>
      <script type="text/javascript">
        tweetmeme_style = 'compact';
      </script>
      <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
    </li>
    <li>Short URL: <a href="<%= short %>"><%= short %></a></li>
  </ul>
</div>
