<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=600" />
  <title><%= @item[:title] %></title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="only screen and (max-device-width: 480px)" />  
</head>
<body<%= %Q( class="#{@item[:body_class]}") if @item[:body_class] %>>
  <%= render 'header' %>
  <h1><a href="<%= @item.reps.first.path %>"><%= @item[:title] %></a></h1>
  <div id="content">
    <%= yield %>
  </div>
  <%= render 'footer' %>
</body>
</html>
