<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title></title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <script src="script.js" type="text/javascript"></script>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>
  <div id="sidebar">
    <h2>Documentation</h2>
    <ul>
      <li><a href="http://nanoc.stoneship.org/tutorial/">Tutorial</a></li>
      <li><a href="http://nanoc.stoneship.org/manual/">Manual</a></li>
    </ul>
    <h2>Community</h2>
    <ul>
      <li><a href="http://groups.google.com/group/nanoc/">Discussion Group</a></li>
      <li><a href="http://groups.google.com/group/nanoc-es/">Spanish Discussion Group</a></li>
      <li><a href="http://projects.stoneship.org/trac/nanoc/">Wiki</a></li>
    </ul>
  </div>
</body>
</html>
