<!DOCTYPE html>
<html>
<head>
  <%= render '_head' %>
</head>
<body class="home">
  <%= render '_header' %>

  <main>
    <section id="posts" class="column">
      <h1>
        <a href="/articles/">Recent Posts</a>
        <a href="/feed/"><img src="/images/feed-icon.svg" class="feed-icon feed-icon-sup" width="12" height="12" alt="Feed Icon" /></a>
      </h1>

      <ul class="articles">
        <% sorted_articles[0..4].each do |article| %>
        <%= render '_article', :article => article %>
        <% end %>
      </ul>
      <a href="/articles/" class="more">More &raquo;</a>
    </section>

    <section id="projects" class="column">
      <h1><a href="/projects/">Projects</a></h1>
      <ul class="projects">
        <li>
          <a href="https://readrust.net/">
            <img src="/images/read-rust.svg" >Read Rust
          </a>
          <p>Curated posts from the Rust community.</p>
        </li>
        <li>
          <a href="http://bsd-ci.com/">
            <img src="/images/bsd-ci.svg" >BSD CI
          </a>
          <p>Continuous integration on BSD operating systems.</p>
        </li>
        <li>
          <a href="https://binarytrance.com/apps/symbolmate">
            <img src="/images/symbolmate.png" >SymbolMate
          </a>
          <p>iPhone and iPad app for finding symbols and emoji.</p>
        </li>
        <li>
          <a href="http://bitcannon.net/">
            <svg id="bookmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="#85144b">
              <path d="M6 2 L26 2 L26 30 L16 24 L6 30 Z"></path>
            </svg>Bit Cannon
          </a>
          <p>A blog about operating system exploration.</p>
        </li>
        <li>
          <a href="https://linkedlist.org/">
            <svg id="i-link" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M18 8 C18 8 24 2 27 5 30 8 29 12 24 16 19 20 16 21 14 17 M14 24 C14 24 8 30 5 27 2 24 3 20 8 16 13 12 16 11 18 15" />
            </svg>Linked List
          </a>
          <p>A personal knowledge base.</p>
        </li>
      </ul>
      <a href="/projects/" class="more text-right">More &raquo;</a>
    </section>
  </main>

  <%= render '_footer' %>
</body>
</html>
