<!DOCTYPE html>
<html>
<head>
  <%= render '_head' %>
  <link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
  <script src="/js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/mojo.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/home.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="home">
  <%= render '_header' %>
  <section id="technical" class="column">
    <div>
      <h1><a href="/technical/articles/">Technical</a>
        <sup><a href="http://feeds.feedburner.com/wezm-technical"><img src="/images/black-feed-icon.png" class="feed-icon" width="12" height="12" alt="Black Feed Icon" /></a></sup>
      </h1>
      <ul class="articles">
      <% technical_articles[0..4].each do |article| %>
        <%= render '_article', :article => article %>
      <% end %>
      </ul>
      <a href="/technical/articles/" class="more">More &raquo;</a>
    </div>
  </section>

  <section id="personal" class="column">
    <div>
      <h1><a href="/personal/articles/">Personal</a>
        <sup><a href="http://feeds.feedburner.com/wezm-personal"><img src="/images/black-feed-icon.png" class="feed-icon" width="12" height="12" /></a></sup>
      </h1>
      <ul class="articles">
      <% personal_articles[0..4].each do |article| %>
        <%= render '_article', :article => article %>
      <% end %>
      </ul>
      <a href="/personal/articles/" class="more">More &raquo;</a>
    </div>
  </section>

  <section id="flickr">
    <header>
      <h1><a href="http://www.flickr.com/photos/wezm/">Photos</a>
        <sup><a href="http://flickr.com/photos/wezm/feed"><img src="/images/black-feed-icon.png" class="feed-icon" width="12" height="12" alt="Black Feed Icon" /></a></sup>
      </h1>
    </header>
    <ul class="inline"></ul>
    <a href="http://www.flickr.com/photos/wezm/" class="more">More &raquo;</a>
  </section>
  <%= render '_footer' %>
</body>
</html>
