<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title><%= @item[:title] %></title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen,projection" />
  <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="only screen and (max-device-width: 480px)" />  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js" type="text/javascript"></script>
  <script src="/js/home.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <%= render 'header' %>
  <div id="technical" class="first column">
    <div>
      <h1>Geeky
        <sup><a href="<%= feed_url %>"><img src="/images/black-feed-icon.png" width="12" height="12" /></a></sup>
      </h1>
      <ul>
      <% sorted_articles[0..4].each do |article| %>
        <% post_date = WezM::Helpers.post_date(article) %>
        <li>
          <abbr class="calender date" title="<%= post_date.iso8601 %>">
            <span class="day"><%= post_date.day %></span>
            <span class="month"><%= post_date.strftime('%b') %></span>
            <span class="year"><%= post_date.year %></span>
          </abbr>
          <p>
            <strong><a href="<%= article.reps.first.path %>"><%= article[:title] %></a></strong>
            A one sentence summary of this post would go here this one is longer then the other one.
          </p>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div id="personal" class="column">
    <div>
      <h1>Non-Geeky
        <sup><a href="<%= feed_url %>"><img src="/images/black-feed-icon.png" width="12" height="12" /></a></sup>
      </h1>
      <ul>
        <li> 
          <abbr class="calender date" title="2009-09-19T04:02:43+10:00"> 
            <span class="day">19</span> 
            <span class="month">Sep</span> 
            <span class="year">2009</span> 
          </abbr> 
          <p> 
            <strong><a href="/technical/2009/09/font-smoothing-in-snow-leopard/">A Long Post Title That Goes More Than a Line Possibly Going Into The Second Line</a></strong> 
            A one sentence summary of this post would go.
          </p> 
        </li> 
      <% sorted_articles[5..9].each do |article| %>
        <% post_date = WezM::Helpers.post_date(article) %>
        <li>
          <abbr class="calender date" title="<%= post_date.iso8601 %>">
            <span class="day"><%= post_date.day %></span>
            <span class="month"><%= post_date.strftime('%b') %></span>
            <span class="year"><%= post_date.year %></span>
          </abbr>
          <p>
            <strong><a href="<%= article.reps.first.path %>"><%= article[:title] %></a></strong>
            A one sentence summary of this post would go here.</p>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div id="flickr">
    <!-- <h1>Photos</h1> -->
    <ul class="inline">
      <li>
        Loading photos&hellip;
      </li>
  </div>
  
  <div class="pagination">
    <a href="#newer">&laquo; Newer</a>
    |
    <a href="#older">Older &raquo;</a>
  </div>
  <%= render 'footer' %>
</body>
</html>
